@model KUSYS_Demo.Models.Student

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- Modal -->
<div class="modal fade" id="DetailStudent-@Model.StudentId" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Student Details</h4>
            </div>
            <div class="modal-body">

                <div>
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FirstName) :
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.LastName) :
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.BirthDate) :
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.BirthDate)
                        </dd>
                    </dl>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

